<div class="main white">
  <div class="container">
    <section class="page2">
      <div class="header">
        <h1>Welcome <%= @person.first_name.capitalize %>!</h1>
        <h2>
          Thank you for registering your interest with Code for Australia.
          Be sure to check your email for updates.
        </h2>
        <%= link_to 'Back to Home', root_path %>
      </div>
    </section>
  </div>
</div>
