<div class="main white">
  <div class="container">

    <section class="page2">
      <div class="header">
        <h1>Brigade</h1>
        <h2>
          Code for Australia Brigade is an organizing force for local
          civic engagement - a national network with local chapters of
          civicminded volunteers, who contribute skills toward using the
          web as a platform for municipal government and community
          service.
        </h2>
      </div>
      <div class="row ico-spacing">
        <div class="col-sm-12">
          <%= image_tag 'icon_mouse.png', size: '142x142', class: 'img-responsive' %>
        </div>
      </div>
      <div class="row ico-spacing">
        <div class="col-sm-4">
          <h1>PURPOSE</h1>
          <p>
          The purpose of Brigade is to
          create and sustain local instances
          of shared goals and strategic
          outcomes.
          </p>
          <ul>
          <li>
          Governments leveraging
          technology more effectively
          </li>
          <li>
          Citizens and community groups
          solving civic issues
          </li>
          <li>
          Cities collaborating to work
          better
          </li>
          <li>
          Civic apps built on linked, open
          data
          </li>
          </ul>
        </div>
        <div class="col-sm-4">
          <h1>TARGETED OUTCOME</h1>
          <p>
          Establish or reinforce a local citizen
          group for civic tech that interacts with
          municipal government on a regular basis.
          </p>
          <h1>Brigades Help Fellows
            and Local Government
            Partners by:
          </h1>
          <ul>
            <li>
            Informing local communities about CfA
            </li>
            <li>
            Anchoring local, civic tech community
            </li>
            <li>
            Organizing structured activities
            </li>
          </ul>
        </div>
        <div class="col-sm-4">
          <h1>MEMBERSHIP</h1>
          <p>
          Membership Brigades are local
          volunteer groups who are members
          of the Code for Australia Brigade
          national network.
          </p>
          <p>
          Membership is free and open.
          </p>
          <h1>5 ACTIVITIES</h1>
          <p>
            ORGANIZE!<br />
            OPEN CIVIC DATA!<br />
            SHARE CIVIC TECH!<br />
            HELP GOVERNMENT GET OPEN!<br />
            CODE!
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
