<div class="main white">
  <div class="container">

    <section class="page2">
      <div class="header">
        <h1>Fellowship</h1>
        <h2>
          The Code for Australia fellowship is an 11-month program where
          developers, designers, UX/UI researchers and project managers
          work alongside city staff to produce open-source apps and
          improve the citizen experience.
        </h2>
        <h3>
          In addition to your training and mentorship, you’ll receive a stipend (amount
          to be confirmed), a professional development budget, travel expenses and
          health care benefits.
        </h3>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <%= image_tag 'icon_clock.png', size: '142x142', class: 'img-responsive' %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h1>WHERE YOU'LL BE</h1>
          <%= image_tag 'icon_place.png', size: '66x66', class: 'img-responsive' %>
          <p>
          You’ll work at the Code for Australia HQ in Melbourne
          for the bulk of your training and travel to your host city
          to interview community stakeholders, collaborate with
          city staff and test your applications.(*Note: Partner
          cities and townships are not announced until after
          fellowship application deadline.)
          </p>
          <h1>PROGRAM SCHEDULE</h1>
          <%= image_tag 'icon_calendar.png', size: '66x66', class: 'img-responsive' %>
          <p>
          <i>
            We are still working on it.
            More information to come early 2014
          </i>
          </p>
        </div>
      </div>
    </section>
  </div>
</div>

